<p>
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>
</p>
<main class="main">
  <div class="content">
    @for (question of questions; track question.prompt) {
    <mat-card>
      <mat-card-header>{{ question.prompt }}</mat-card-header>
      <mat-card-content>
        <mat-radio-group class="radio-answers" (change)="selectAnswer($event)">
          @for (option of question.options; track $index) {
          <mat-radio-button value="option">{{ option }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-card-content>
      @if (displayAnswer) {
        <mat-card-footer>{{ question.solution }}</mat-card-footer>
      }
    </mat-card>
    }
    <button
      mat-flat-button
      color="primary"
      class="button-validate"
      (click)="validate()"
    >
      Valider le quiz
    </button>
  </div>
</main>
