main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.start-quiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.radio-answers {
  display: flex;
  flex-direction: column;
}

.button-start {
  margin: 1rem 0rem;
}

.button-validate {
  margin: 1rem 0rem;
}

.mat-mdc-card {
  margin-bottom: 1rem;
}

.good-answer {
  padding: 0.5rem;
  color: white;
  background-color: green;
}

.bad-answer {
  padding: 0.5rem;
  color: white;
  background-color: red;
}

.validation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}
