<p>
  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>
</p>
<main class="main">
  <div class="content">
    <div class="start-quiz">
      <button
        mat-flat-button
        color="primary"
        class="button-start"
        (click)="startQuiz()"
      >
        @if (quizStarted) { Relancer le quiz } @else { Démarrer le quiz }
      </button>
      Nombre de questions: {{ selectedQuestionNumber }}
      <mat-slider discrete min="5" max="15" step="5">
        <input matSliderThumb value="10" (valueChange)="selectQuestionNumber($event)" />
      </mat-slider>
    </div>
    @if (quizStarted) { @for (question of questions; track question.prompt) {
    <mat-card>
      <mat-card-header
        >{{ question.category }} - {{ question.prompt }}</mat-card-header
      >
      <mat-card-content>
        <mat-radio-group
          class="radio-answers"
          (change)="selectAnswer($event, question)"
        >
          @for (option of question.options; track $index) {
          <mat-radio-button value="{{ option }}">{{ option }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-card-content>
      @if (displayAnswer) {
      <mat-card-footer
        [ngClass]="
          question.solution === question.selectedOption
            ? 'good-answer'
            : 'bad-answer'
        "
        >Réponse : {{ question.solution }}</mat-card-footer
      >
      }
    </mat-card>
    }
    <div class="validation">
      <button
        mat-flat-button
        color="primary"
        class="button-validate"
        (click)="validate()"
      >
        Valider le quiz
      </button>
      @if (displayAnswer) {
      {{ score }} / {{ questions.length }}
      }
    </div>
    }
  </div>
</main>
